
@model List<int> 

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div>По годам:</div>
    @foreach (int year in Model)
    {
        <form asp-action="GetYearArchive" method="post">
            <input type="submit" name="year" value="@year">
        </form>
    }
</div>
</body>
</html>