@model List<string>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div>Месяца:</div>
    @foreach (string year in Model)
    {
        <form asp-action="GetMonthArchive" method="post">
            <input type="submit" name="year" value="@year">
        </form>
    }
</div>
</body>
</html>