<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h4>
        <a asp-action="GetAllMonths">По месяцам</a>
        <br>
        <a asp-action="GetAllYears">По годам</a>
    </h4>
</div>
</body>
</html>