

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <input type="file" multiple="multiple" required="required" accept="application/vnd.sealed.xls">
</div>
</body>
</html>