@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        <a asp-action="AddNewArchiveForm">Добавить новый архив в базу данных</a> <br>
        <a asp-controller="Get" asp-action="GetChoosePage">Посмотреть существующие архивы в базе данных</a>
    </h1>
</div>